--
-- PostgreSQL database dump
--

\restrict ps2rFfrcBVZA6oGBcqkU8LFcgS2zj6li6BhTWxm5j57iqeS4b8FdFojJ3raAczF

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: het
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO het;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: het
--

COMMENT ON SCHEMA public IS '';


--
-- Name: EmploymentType; Type: TYPE; Schema: public; Owner: het
--

CREATE TYPE public."EmploymentType" AS ENUM (
    'FULL_TIME',
    'PART_TIME'
);


ALTER TYPE public."EmploymentType" OWNER TO het;

--
-- Name: RecordStatus; Type: TYPE; Schema: public; Owner: het
--

CREATE TYPE public."RecordStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public."RecordStatus" OWNER TO het;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: het
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'TEACHER'
);


ALTER TYPE public."Role" OWNER TO het;

--
-- Name: RoomType; Type: TYPE; Schema: public; Owner: het
--

CREATE TYPE public."RoomType" AS ENUM (
    'CLASSROOM',
    'LAB',
    'SEMINAR'
);


ALTER TYPE public."RoomType" OWNER TO het;

--
-- Name: SlotType; Type: TYPE; Schema: public; Owner: het
--

CREATE TYPE public."SlotType" AS ENUM (
    'LECTURE',
    'BREAK',
    'LUNCH'
);


ALTER TYPE public."SlotType" OWNER TO het;

--
-- Name: SubjectType; Type: TYPE; Schema: public; Owner: het
--

CREATE TYPE public."SubjectType" AS ENUM (
    'THEORY',
    'PRACTICAL',
    'TUTORIAL',
    'ELECTIVE',
    'SPECIAL'
);


ALTER TYPE public."SubjectType" OWNER TO het;

--
-- Name: TimetableStatus; Type: TYPE; Schema: public; Owner: het
--

CREATE TYPE public."TimetableStatus" AS ENUM (
    'DRAFT',
    'REVIEW',
    'PUBLISHED',
    'ARCHIVED'
);


ALTER TYPE public."TimetableStatus" OWNER TO het;

--
-- Name: Weekday; Type: TYPE; Schema: public; Owner: het
--

CREATE TYPE public."Weekday" AS ENUM (
    'MON',
    'TUE',
    'WED',
    'THU',
    'FRI',
    'SAT',
    'SUN'
);


ALTER TYPE public."Weekday" OWNER TO het;

--
-- Name: YearStructure; Type: TYPE; Schema: public; Owner: het
--

CREATE TYPE public."YearStructure" AS ENUM (
    'UG_THREE_YEAR',
    'LLB_FIVE_YEAR'
);


ALTER TYPE public."YearStructure" OWNER TO het;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO het;

--
-- Name: academic_years; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.academic_years (
    id text NOT NULL,
    label text NOT NULL,
    "startDate" timestamp(3) without time zone,
    "endDate" timestamp(3) without time zone,
    "isActive" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.academic_years OWNER TO het;

--
-- Name: app_settings; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.app_settings (
    id text DEFAULT 'singleton'::text NOT NULL,
    "collegeName" text DEFAULT 'My College'::text NOT NULL,
    "defaultDuration" integer DEFAULT 50 NOT NULL,
    "workingDays" public."Weekday"[] DEFAULT ARRAY['MON'::public."Weekday", 'TUE'::public."Weekday", 'WED'::public."Weekday", 'THU'::public."Weekday", 'FRI'::public."Weekday", 'SAT'::public."Weekday"],
    "fullTimeStart" text DEFAULT '09:00'::text NOT NULL,
    "fullTimeEnd" text DEFAULT '17:00'::text NOT NULL,
    "timetableStatus" public."TimetableStatus" DEFAULT 'DRAFT'::public."TimetableStatus" NOT NULL,
    "publishedAt" timestamp(3) without time zone,
    "publishedBy" text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.app_settings OWNER TO het;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    action text NOT NULL,
    entity text NOT NULL,
    "entityId" text,
    summary text NOT NULL,
    before jsonb,
    after jsonb,
    at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" text,
    "userLabel" text DEFAULT 'system'::text NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO het;

--
-- Name: classes; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.classes (
    id text NOT NULL,
    year text NOT NULL,
    semester integer NOT NULL,
    division text NOT NULL,
    strength integer,
    "streamId" text NOT NULL,
    "academicYearId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.classes OWNER TO het;

--
-- Name: common_groups; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.common_groups (
    id text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.common_groups OWNER TO het;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.departments (
    id text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.departments OWNER TO het;

--
-- Name: rooms; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.rooms (
    id text NOT NULL,
    name text NOT NULL,
    type public."RoomType" DEFAULT 'CLASSROOM'::public."RoomType" NOT NULL,
    capacity integer DEFAULT 60 NOT NULL,
    building text,
    status public."RecordStatus" DEFAULT 'ACTIVE'::public."RecordStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.rooms OWNER TO het;

--
-- Name: streams; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.streams (
    id text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    "yearStructure" public."YearStructure" DEFAULT 'UG_THREE_YEAR'::public."YearStructure" NOT NULL,
    "displayOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.streams OWNER TO het;

--
-- Name: subject_allocations; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.subject_allocations (
    id text NOT NULL,
    "weeklyLectures" integer NOT NULL,
    "durationMinutes" integer DEFAULT 50 NOT NULL,
    status public."RecordStatus" DEFAULT 'ACTIVE'::public."RecordStatus" NOT NULL,
    "teacherId" text NOT NULL,
    "subjectId" text NOT NULL,
    "classId" text NOT NULL,
    "roomId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "commonGroupId" text,
    "isCommon" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.subject_allocations OWNER TO het;

--
-- Name: subjects; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.subjects (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    year text NOT NULL,
    semester integer NOT NULL,
    type public."SubjectType" DEFAULT 'THEORY'::public."SubjectType" NOT NULL,
    credits integer DEFAULT 3 NOT NULL,
    "weeklyLectures" integer DEFAULT 3 NOT NULL,
    "durationMinutes" integer DEFAULT 50 NOT NULL,
    "roomType" public."RoomType",
    color text DEFAULT '#6366f1'::text NOT NULL,
    status public."RecordStatus" DEFAULT 'ACTIVE'::public."RecordStatus" NOT NULL,
    "streamId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.subjects OWNER TO het;

--
-- Name: syllabus; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.syllabus (
    id text NOT NULL,
    "subjectId" text NOT NULL,
    unit1 text,
    unit2 text,
    unit3 text,
    unit4 text,
    unit5 text,
    "estimatedLectures" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.syllabus OWNER TO het;

--
-- Name: teacher_availability; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.teacher_availability (
    id text NOT NULL,
    "teacherId" text NOT NULL,
    day public."Weekday" NOT NULL,
    "startTime" text NOT NULL,
    "endTime" text NOT NULL
);


ALTER TABLE public.teacher_availability OWNER TO het;

--
-- Name: teachers; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.teachers (
    id text NOT NULL,
    "teacherCode" text NOT NULL,
    name text NOT NULL,
    email text,
    mobile text,
    designation text,
    qualification text,
    "employmentType" public."EmploymentType" DEFAULT 'FULL_TIME'::public."EmploymentType" NOT NULL,
    "joiningDate" timestamp(3) without time zone,
    status public."RecordStatus" DEFAULT 'ACTIVE'::public."RecordStatus" NOT NULL,
    "maxWeeklyLectures" integer DEFAULT 20 NOT NULL,
    "maxDailyLectures" integer DEFAULT 5 NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "departmentId" text
);


ALTER TABLE public.teachers OWNER TO het;

--
-- Name: time_slots; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.time_slots (
    id text NOT NULL,
    "startTime" text NOT NULL,
    "endTime" text NOT NULL,
    type public."SlotType" DEFAULT 'LECTURE'::public."SlotType" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "displayOrder" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.time_slots OWNER TO het;

--
-- Name: timetable_entries; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.timetable_entries (
    id text NOT NULL,
    "groupId" text NOT NULL,
    day public."Weekday" NOT NULL,
    "allocationId" text NOT NULL,
    "timeSlotId" text NOT NULL,
    "versionId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.timetable_entries OWNER TO het;

--
-- Name: timetable_versions; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.timetable_versions (
    id text NOT NULL,
    label text NOT NULL,
    status public."TimetableStatus" DEFAULT 'DRAFT'::public."TimetableStatus" NOT NULL,
    "publishedAt" timestamp(3) without time zone,
    "publishedBy" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.timetable_versions OWNER TO het;

--
-- Name: users; Type: TABLE; Schema: public; Owner: het
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    name text NOT NULL,
    role public."Role" DEFAULT 'TEACHER'::public."Role" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "lastLoginAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "teacherId" text
);


ALTER TABLE public.users OWNER TO het;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: het
--



--
-- Data for Name: academic_years; Type: TABLE DATA; Schema: public; Owner: het
--

COPY public.academic_years (id, label, "startDate", "endDate", "isActive", "createdAt") FROM stdin;
cmugejl1k00098d10oo25h0fz	2026-27	\N	\N	t	2026-09-25 03:29:27.369
\.


--
-- Data for Name: app_settings; Type: TABLE DATA; Schema: public; Owner: het
--

COPY public.app_settings (id, "collegeName", "defaultDuration", "workingDays", "fullTimeStart", "fullTimeEnd", "timetableStatus", "publishedAt", "publishedBy", "updatedAt") FROM stdin;
singleton	Hirwal Education Trust College of Science(Computer Science & Information Technology)	50	{MON,TUE,WED,THU,FRI,SAT}	08:00	14:00	DRAFT	\N	\N	2026-09-25 03:29:27.078
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: het
--



--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: het
--



--
-- Data for Name: common_groups; Type: TABLE DATA; Schema: public; Owner: het
--

COPY public.common_groups (id, name, code, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: het
--

COPY public.departments (id, name, code, "createdAt") FROM stdin;
cmugejkzj00018d10v4x9s5dz	Computer Science	CS	2026-09-25 03:29:27.295
cmugejkzw00028d10ff2cygii	Commerce	COM	2026-09-25 03:29:27.308
\.


--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: het
--



--
-- Data for Name: streams; Type: TABLE DATA; Schema: public; Owner: het
--



--
-- Data for Name: subject_allocations; Type: TABLE DATA; Schema: public; Owner: het
--



--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: het
--



--
-- Data for Name: syllabus; Type: TABLE DATA; Schema: public; Owner: het
--

COPY public.syllabus (id, "subjectId", unit1, unit2, unit3, unit4, unit5, "estimatedLectures", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: teacher_availability; Type: TABLE DATA; Schema: public; Owner: het
--



--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: het
--



--
-- Data for Name: time_slots; Type: TABLE DATA; Schema: public; Owner: het
--

COPY public.time_slots (id, "startTime", "endTime", type, "isActive", "displayOrder") FROM stdin;
cmugejlci00268d105lbewcal	08:00	08:50	LECTURE	t	1
cmugejlco00278d1007uofqs0	08:50	09:40	LECTURE	t	2
cmugejlcs00288d100qdad1eg	09:40	10:30	LECTURE	t	3
cmugejlcv00298d10qasubqs5	10:30	10:50	BREAK	t	4
cmugejlcz002a8d106moasdqg	10:50	11:40	LECTURE	t	5
cmugejld2002b8d107i0lxx5x	11:40	12:30	LECTURE	t	6
cmugejld6002c8d1098kcmgeq	12:30	13:20	LECTURE	t	7
cmugejlda002d8d101rj58mgk	13:20	13:50	LUNCH	t	8
\.


--
-- Data for Name: timetable_entries; Type: TABLE DATA; Schema: public; Owner: het
--



--
-- Data for Name: timetable_versions; Type: TABLE DATA; Schema: public; Owner: het
--

COPY public.timetable_versions (id, label, status, "publishedAt", "publishedBy", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: het
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: academic_years academic_years_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.academic_years
    ADD CONSTRAINT academic_years_pkey PRIMARY KEY (id);


--
-- Name: app_settings app_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.app_settings
    ADD CONSTRAINT app_settings_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (id);


--
-- Name: common_groups common_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.common_groups
    ADD CONSTRAINT common_groups_pkey PRIMARY KEY (id);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: streams streams_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.streams
    ADD CONSTRAINT streams_pkey PRIMARY KEY (id);


--
-- Name: subject_allocations subject_allocations_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.subject_allocations
    ADD CONSTRAINT subject_allocations_pkey PRIMARY KEY (id);


--
-- Name: subjects subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_pkey PRIMARY KEY (id);


--
-- Name: syllabus syllabus_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.syllabus
    ADD CONSTRAINT syllabus_pkey PRIMARY KEY (id);


--
-- Name: teacher_availability teacher_availability_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.teacher_availability
    ADD CONSTRAINT teacher_availability_pkey PRIMARY KEY (id);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: time_slots time_slots_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.time_slots
    ADD CONSTRAINT time_slots_pkey PRIMARY KEY (id);


--
-- Name: timetable_entries timetable_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.timetable_entries
    ADD CONSTRAINT timetable_entries_pkey PRIMARY KEY (id);


--
-- Name: timetable_versions timetable_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.timetable_versions
    ADD CONSTRAINT timetable_versions_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: academic_years_label_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX academic_years_label_key ON public.academic_years USING btree (label);


--
-- Name: audit_logs_at_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX audit_logs_at_idx ON public.audit_logs USING btree (at);


--
-- Name: audit_logs_entity_entityId_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX "audit_logs_entity_entityId_idx" ON public.audit_logs USING btree (entity, "entityId");


--
-- Name: classes_streamId_academicYearId_year_semester_division_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX "classes_streamId_academicYearId_year_semester_division_key" ON public.classes USING btree ("streamId", "academicYearId", year, semester, division);


--
-- Name: classes_streamId_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX "classes_streamId_idx" ON public.classes USING btree ("streamId");


--
-- Name: common_groups_code_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX common_groups_code_key ON public.common_groups USING btree (code);


--
-- Name: departments_code_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX departments_code_key ON public.departments USING btree (code);


--
-- Name: departments_name_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX departments_name_key ON public.departments USING btree (name);


--
-- Name: rooms_name_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX rooms_name_key ON public.rooms USING btree (name);


--
-- Name: streams_code_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX streams_code_key ON public.streams USING btree (code);


--
-- Name: streams_name_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX streams_name_key ON public.streams USING btree (name);


--
-- Name: subject_allocations_classId_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX "subject_allocations_classId_idx" ON public.subject_allocations USING btree ("classId");


--
-- Name: subject_allocations_commonGroupId_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX "subject_allocations_commonGroupId_idx" ON public.subject_allocations USING btree ("commonGroupId");


--
-- Name: subject_allocations_subjectId_classId_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX "subject_allocations_subjectId_classId_key" ON public.subject_allocations USING btree ("subjectId", "classId");


--
-- Name: subject_allocations_teacherId_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX "subject_allocations_teacherId_idx" ON public.subject_allocations USING btree ("teacherId");


--
-- Name: subjects_code_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX subjects_code_key ON public.subjects USING btree (code);


--
-- Name: subjects_status_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX subjects_status_idx ON public.subjects USING btree (status);


--
-- Name: subjects_streamId_semester_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX "subjects_streamId_semester_idx" ON public.subjects USING btree ("streamId", semester);


--
-- Name: subjects_streamId_year_semester_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX "subjects_streamId_year_semester_idx" ON public.subjects USING btree ("streamId", year, semester);


--
-- Name: syllabus_subjectId_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX "syllabus_subjectId_key" ON public.syllabus USING btree ("subjectId");


--
-- Name: teacher_availability_teacherId_day_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX "teacher_availability_teacherId_day_key" ON public.teacher_availability USING btree ("teacherId", day);


--
-- Name: teacher_availability_teacherId_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX "teacher_availability_teacherId_idx" ON public.teacher_availability USING btree ("teacherId");


--
-- Name: teachers_email_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX teachers_email_key ON public.teachers USING btree (email);


--
-- Name: teachers_employmentType_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX "teachers_employmentType_idx" ON public.teachers USING btree ("employmentType");


--
-- Name: teachers_status_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX teachers_status_idx ON public.teachers USING btree (status);


--
-- Name: teachers_teacherCode_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX "teachers_teacherCode_key" ON public.teachers USING btree ("teacherCode");


--
-- Name: time_slots_displayOrder_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX "time_slots_displayOrder_idx" ON public.time_slots USING btree ("displayOrder");


--
-- Name: time_slots_startTime_endTime_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX "time_slots_startTime_endTime_key" ON public.time_slots USING btree ("startTime", "endTime");


--
-- Name: timetable_entries_day_timeSlotId_allocationId_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX "timetable_entries_day_timeSlotId_allocationId_key" ON public.timetable_entries USING btree (day, "timeSlotId", "allocationId");


--
-- Name: timetable_entries_day_timeSlotId_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX "timetable_entries_day_timeSlotId_idx" ON public.timetable_entries USING btree (day, "timeSlotId");


--
-- Name: timetable_entries_groupId_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX "timetable_entries_groupId_idx" ON public.timetable_entries USING btree ("groupId");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_role_idx; Type: INDEX; Schema: public; Owner: het
--

CREATE INDEX users_role_idx ON public.users USING btree (role);


--
-- Name: users_teacherId_key; Type: INDEX; Schema: public; Owner: het
--

CREATE UNIQUE INDEX "users_teacherId_key" ON public.users USING btree ("teacherId");


--
-- Name: audit_logs audit_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: classes classes_academicYearId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT "classes_academicYearId_fkey" FOREIGN KEY ("academicYearId") REFERENCES public.academic_years(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: classes classes_streamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT "classes_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES public.streams(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: subject_allocations subject_allocations_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.subject_allocations
    ADD CONSTRAINT "subject_allocations_classId_fkey" FOREIGN KEY ("classId") REFERENCES public.classes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: subject_allocations subject_allocations_commonGroupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.subject_allocations
    ADD CONSTRAINT "subject_allocations_commonGroupId_fkey" FOREIGN KEY ("commonGroupId") REFERENCES public.common_groups(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: subject_allocations subject_allocations_roomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.subject_allocations
    ADD CONSTRAINT "subject_allocations_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES public.rooms(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: subject_allocations subject_allocations_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.subject_allocations
    ADD CONSTRAINT "subject_allocations_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public.subjects(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: subject_allocations subject_allocations_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.subject_allocations
    ADD CONSTRAINT "subject_allocations_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public.teachers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: subjects subjects_streamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT "subjects_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES public.streams(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: syllabus syllabus_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.syllabus
    ADD CONSTRAINT "syllabus_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public.subjects(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: teacher_availability teacher_availability_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.teacher_availability
    ADD CONSTRAINT "teacher_availability_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public.teachers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: teachers teachers_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT "teachers_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public.departments(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: timetable_entries timetable_entries_allocationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.timetable_entries
    ADD CONSTRAINT "timetable_entries_allocationId_fkey" FOREIGN KEY ("allocationId") REFERENCES public.subject_allocations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: timetable_entries timetable_entries_timeSlotId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.timetable_entries
    ADD CONSTRAINT "timetable_entries_timeSlotId_fkey" FOREIGN KEY ("timeSlotId") REFERENCES public.time_slots(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: timetable_entries timetable_entries_versionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.timetable_entries
    ADD CONSTRAINT "timetable_entries_versionId_fkey" FOREIGN KEY ("versionId") REFERENCES public.timetable_versions(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: users users_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: het
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public.teachers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: het
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict ps2rFfrcBVZA6oGBcqkU8LFcgS2zj6li6BhTWxm5j57iqeS4b8FdFojJ3raAczF

